*{
margin:0px;
padding:0px;
box-sizing:border-box;
}
.container{
width:80%;
margin:auto;
background-color:rgb(242, 109, 19);
}
.row{
width:100%;
display:flex;
justify-content:space-between;
}
.col{
	width:30%;
	position:relative;
	overflow:hidden;
}
.image{
	transition: all 1.2s linear 1s;
}
.image img{
width:100%;
}
.col:hover .image{
	transform: scale(1.2);
}
.image1{
	transition: all 1.2s ease-out;
}
.image1 img{
width:100%;
}
.col:hover .image1{
	transform: scaleX(2);
}
.image2{
	transition: all 1.2s ease-in 0.5;
}
.image2 img{
width:100%;
}
.col:hover .image2{
	transform: scaleY(0);
}
.content{
	position:absolute;
	top:1%;
	right:10%;
}
h1, h2{
	text-align:center;
	color:white;
	text-transform:capitalize;
}
p{
	color:white;
	text-align:center;
}

	
.image4{
	transition: all 1.2s;
}
.image4 img{
width:100%;
}
.col:hover .image4{
	transform: skew(30deg, 20deg);
}

.image5{
	transition: all 1.2s;
}
.image5 img{
width:100%;
}
.col:hover .image5{
	transform: skewX(30deg);
}

.image6{
	transition: all 1.2s;
}
.image6 img{
width:100%;
}
.col:hover .image6{
	transform: skewY(30deg);
}


.sec2{
	padding-top:30px;
}



.image7 img{
width:100%;
}
.col:hover .image7{
	transform: rotate(30deg);
}

.image8 img{
width:100%;
}
.col:hover .image8{
	transform: rotateX(60deg);
}

.image9 img{
width:100%;
}
.col:hover .image9{
	transform: rotateY(120deg);
}
